body {
    background: #111;
    direction: rtl;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

button {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    background: #0f5;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #0c4;
}

a {
    color: #0f5;
}